$contentBackground: url("/homework/img/m-h-night.jpg");
$btnColor: #e3ac00;
$gradientColors: linear-gradient(to right ,#dea405, #953050);
$highlitedText: #ff4e33;
$backgroundColor: #21232e;
$boxColor: #3b3f50;
$textColor: #ffffff; 
$secColor: #ffffff;
$fontType: 'Fresca', sans-serif;
$footerBackground:#3b3f50;