$contentBackground: url("/homework/img/m-h-day.jpg");
$btnColor: #699900;
$gradientColors: linear-gradient(to right ,#65950e, #2e5cd4);
$highlitedText: #14a0c7;
$backgroundColor: #ffffff;
$boxColor: #21232e;
$textColor: #2c2f3c; 
$secColor: #2c2f3c;
$fontType: 'Source Sans Pro', sans-serif;
$footerBackground:#21232e;